<template>
  <v-tabs
    id="main"
    v-model="currentTab"
    slider-color="deep-blue"
    fixed-tabs
  >
    <v-tab href="#my-tasks">My Tasks</v-tab>
    <v-tab href="#in-progress">In Progress</v-tab>
    <v-tab href="#completed">Completed</v-tab>
    <v-tabs-items>
      <div>
        <TaskItem
          id="Add"
          host
        />
        <draggable
          v-model="tasks"
          :options="{ handle: '.task--draggable' }"
        >
          <TaskItem
            v-for="(task, index) in tasks"
            v-show="shouldShow(task)"
            :key="index"
            :import-data="task"
          />
        </draggable>
        <div
          v-if="$store.state.tasks.length"
          class="task-counter"
          v-text="taskCounterString"
        />
        <div class="import-button">
          <v-btn @click="$store.commit('LoadPreset')">Import mocking data</v-btn>
        </div>
      </div>
    </v-tabs-items>
  </v-tabs>
</template>

<style lang="postcss">
* {
  text-transform: unset !important;
}

.deep-blue {
  background-color: #00408B;
  border-color: #00408B;
}

#main {
  & .v-tabs__bar {
    background-color: #4A90E2;
  }
  & .v-tabs__slider {
    margin: 0 auto;
    height: 5px;
    max-width: 160px;
    width: 100%;
  }
  & .v-tabs__div {
    font-size: 14px;
    width: 100%;
    max-width: 220px;
    flex-shrink: 1;

    & .v-tabs__item--active {
      font-family: Roboto !important;
      font-weight: 500;
      color: white;
    }
    & .v-tabs__item:not(.v-tabs__item--active) {
      font-family: Roboto !important;
      font-weight: 400;
      opacity: 1;
    }
  }
  & .v-tabs__items {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    margin: auto;
    max-width: 620px;
  }
  & .task-counter {
    color: #c8c8c8;
    font-weight: 400;
    font-size: 24px;
    font-style: italic;
    line-height: 28px;
    margin-left: 32px;
  }
  & .import-button {
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  #main {
    & .v-tabs__div {
      font-size: 24px;
    }
  }
}
</style>

<script>
import draggable from 'vuedraggable'
import TaskItem from './TaskItem'

export default {
  name: 'Main',
  components: {
    draggable,
    TaskItem
  },
  data () {
    return {
      currentTab: 'my-tasks',
      sort: null
    }
  },
  computed: {
    taskCounterString () {
      if (this.currentTab === 'completed') {
        const { completedTask } = this.$store.getters
        return completedTask
          ? `${completedTask} task${completedTask > 1 ? 's' : ''} completed`
          : 'all tasks done'
      } else {
        const { leftTask } = this.$store.getters
        return leftTask
          ? `${leftTask} task${leftTask > 1 ? 's' : ''} left`
          : 'all tasks done'
      }
    },
    tasks: {
      get () {
        return this.$store.state.tasks
      },
      set (array) {
        this.$store.commit('UpdateSort', array)
      }
    }
  },
  methods: {
    shouldShow (task) {
      if (this.currentTab === 'in-progress') return task.completed !== true
      if (this.currentTab === 'completed') return task.completed === true
      return true
    }
  }
}
</script>
