.task {
  margin: 8px 0;
  position: relative;

  & .task-item {
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  & .task--draggable {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    &:not(:hover) {
      & .task--draggable__control {
        display: none;
      }
    }
  }

  &:not(.inactive) {
    margin: 24px 0;

    & .task-item {
      box-shadow: 0 4px 4px 0 #c8c8c8;
    }
    & .task--title {
      padding: 4px 32px;
      border-bottom: 2px solid #c8c8c8;
      & .task--title__pencil {
        color: #4a90e2 !important;
      }
      & .task--title__status {
        display: none;
      }
    }
  }

  &.completed {
    & .task--title__content {
      text-decoration: line-through;
    }
  }

  &.inactive.host {
    color: #c8c8c8;
    margin: 24px 0;
    & .task-item {
      border: 2px solid #c8c8c8;
      min-height: 65px;
    }
    & .task--title {
      font-weight: 400;
    }
  }

  &.inactive {
    & .task--title {
      border-radius: 5px;
    }
  }

  &.starred {
    & .task--title {
      background-color: #fff2dc;
      & .task--title__star {
        color: #f5a623;
      }
    }
  }

  /* reset default rules */
  & .v-icon {
    color: inherit;
  }

  /* element rules */
  & .task--section {
    padding: 0 32px;
  }

  & .task--title {
    padding: 14px 32px;
    font-family: Roboto !important;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    & .v-input {
      font-size: inherit;
      line-height: inherit;
    }
    & .v-input--checkbox {
      flex-grow: 0;
    }
    & > * {
      flex-grow: 0;
    }
    & .task--title__delete {
      color: #d0021b;
    }
    & .task--title__status {
      color: #757575;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-left: 40px;
      & > * {
        margin-right: 16px;
      }
      & .task--status__date {
        flex-grow: 0;
        & > *:first-child {
          margin-right: 8px;
        }
      }
    }
    & .task--title__content {
      margin-left: 16px;
    }
  }

  & .task--detail {
    & .task--detail__section {
      margin: 24px 40px;

      & .task--detail__control {
        margin-left: 22px;
        margin-top: 8px;
      }
    }
    & .task--detail__title {
      & span {
        color: black;
        font-family: Roboto !important;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-left: 6px;
        vertical-align: middle;
      }
    }

    & .task--detail__date {
      & input {
        background-color: white;
        font-size: 16px;
        line-height: 19px;
      }
      & .task--detail__control > * {
        max-width: 162px;
        &:first-child {
          margin-right: 8px;
        }
      }
    }

    & .task--detail__file {
      & .task--detail__control > *:not(:last-child) {
        margin-bottom: 4px;
      }
      & .task--detail__file-uploader {
        display: none;
      }
      & .task--detail__fileinfo {
        font-size: 16px;
        line-height: 19px;
        & > *:last-child {
          color: #757575;
        }
      }
      & .task--detail__fileadd {
        color: #c8c8c8;
        &.has-file {
          margin-left: 24px;
        }
        &:hover {
          color: #4A90E2;
        }
      }
    }

    & .task--detail__comment {
      & .task--detail__control {
        width: 100%;
        & .v-textarea {
          background-color: white;
          border: 1px solid white;
          border-radius: 2px;
          margin-right: 42px;
          transition: cubic-bezier(0.4, 0.0, 0.2, 1);
          transition-duration: 0.15s;
          transition-property: border, box-shadow;
          &.v-input--is-focused {
            border: 1px solid #4A90E2;
            box-shadow: 0 0 4px 0 #4A90E2;
          }
          & .v-input__slot {
            padding: 8px 16px;
          }
          & textarea {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  & .task--button {
    height: 60px;
    & .v-btn {
      font-size: 24px;
      font-weight: 400;
      height: auto;
      line-height: 28px;
      margin: 0;
      &::before {
        opacity: 1;
      }
    }
    & .task--button__close {
      color: #d0021b;
      &.v-btn--active:before,
      &.v-btn:hover:before,
      &.v-btn:focus:before {
        background-color: #fdfdfd;
      }
    }
    & .task--button__confirm {
      &:hover {
        color: #fff;
      }
      &.v-btn--active:before,
      &.v-btn:hover:before,
      &.v-btn:focus:before {
        background-color: #3982d7;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .task {
    &:not(.inactive) {
      & .task--title {
        padding: 2px 16px;
      }
    }
    & .task--section {
      padding: 0 16px;
    }
    & .task--title {
      padding: 7px 16px;
    }
    & .task--detail {
      & .task--detail__section {
        margin: 12px 0;
      }
    }
  }
}
