<template>
  <div :class="className">
    <v-layout
      v-if="!host"
      class="task--draggable"
    >
      <v-icon class="task--draggable__control">mdi-dots-vertical</v-icon>
    </v-layout>
    <v-layout
      class="task-item"
      column
    >
      <!-- host title -->
      <v-layout
        v-if="!editing && host"
        class="task--section task--title"
        align-center
        @click="editing = true"
      >
        <v-icon>mdi-plus</v-icon>
        <v-flex class="task--title__content">Add Task</v-flex>
      </v-layout>
      <!-- child title -->
      <v-layout
        v-else
        class="task--section task--title"
        justify-center
        column
      >
        <v-layout align-center>
          <v-icon
            v-ripple
            @click="directEdit('completed')"
          >
            {{
              data.completed
                ? 'mdi-checkbox-marked-outline'
                : 'mdi-checkbox-blank-outline'
            }}
          </v-icon>
          <v-flex
            v-if="!editing"
            class="task--title__content"
            v-text="data.title"
          />
          <v-text-field
            v-else
            v-model="data.title"
            class="task--title__content"
            placeholder="Type Something Here..."
            single-line
          />
          <v-btn
            v-if="editing"
            class="task--title__delete"
            icon
            @click="deleteTask"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          <v-btn
            icon
            @click="directEdit('starred')"
          >
            <v-icon class="task--title__star">
              {{ data.starred ? 'mdi-star' : 'mdi-star-outline' }}
            </v-icon>
          </v-btn>
          <v-btn
            icon
            @click="editing ? cancel() : editing = true"
          >
            <v-icon class="task--title__pencil">mdi-pencil</v-icon>
          </v-btn>
        </v-layout>
        <v-layout
          v-if="!data.completed"
          class="task--title__status"
          align-center
        >
          <v-layout
            v-if="data.date"
            class="task--status__date"
          >
            <v-icon small>mdi-calendar-range</v-icon>
            <span>{{ shortenDate }}</span>
          </v-layout>
          <v-icon
            v-if="data.files.length"
            small
          >mdi-file-outline</v-icon>
          <v-icon
            v-if="data.comment"
            small
          >mdi-comment-processing-outline</v-icon>
        </v-layout>
      </v-layout>
      <template v-if="editing">
        <!-- task details -->
        <div
          class="task--section task--detail"
        >
          <!-- details: date -->
          <v-layout
            class="task--detail__section task--detail__date"
            align-baseline
            column
          >
            <v-flex class="task--detail__title">
              <v-icon small>mdi-calendar-range</v-icon>
              <span>Dateline</span>
            </v-flex>
            <v-layout class="task--detail__control">
              <v-flex
                xs12
                lg6
              >
                <v-menu
                  :close-on-content-click="false"
                  v-model="datePicker"
                  lazy
                  transition="scale-transition"
                  offset-y
                  max-width="300px"
                  min-width="200px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="data.date"
                    label="Date"
                    placeholder=" "
                    hint="YYYY-MM-DD format"
                    persistent-hint
                    readonly
                  />
                  <v-date-picker
                    v-model="data.date"
                    no-title
                    @input="dataPicker = false"
                  />
                </v-menu>
              </v-flex>
              <v-flex
                xs12
                lg6
              >
                <v-menu
                  :close-on-content-click="false"
                  v-model="timePicker"
                  lazy
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="data.time"
                    label="Time"
                    placeholder=" "
                    hint="HH:MM format"
                    persistent-hint
                    readonly
                  />
                  <v-time-picker
                    v-model="data.time"
                  />
                </v-menu>
              </v-flex>
            </v-layout>
          </v-layout>
          <!-- details: file -->
          <v-layout
            class="task--detail__section task--detail__file"
            align-baseline
            column
          >
            <v-flex class="task--detail__title">
              <v-icon small>mdi-file-outline</v-icon>
              <span>File</span>
            </v-flex>
            <v-layout
              class="task--detail__control"
              column
              wrap
            >
              <input
                ref="fileUploader"
                type="file"
                class="task--detail__file-uploader"
                @change="readFile"
              >
              <template v-for="({ filename, createTime }, index) in data.files">
                <v-layout :key="index">
                  <v-icon>mdi-paperclip</v-icon>
                  <v-layout
                    class="task--detail__fileinfo"
                    align-baseline
                    column
                  >
                    <v-flex>{{ filename }}</v-flex>
                    <v-flex>uploaded {{ diffTime(createTime) }} ago</v-flex>
                  </v-layout>
                  <v-icon
                    v-ripple
                    v-if="index === data.files.length - 1"
                    class="task--detail__fileadd has-file"
                    size="32px"
                    @click="$refs.fileUploader.click()"
                  >mdi-plus-box</v-icon>
                </v-layout>
              </template>
              <v-icon
                v-ripple
                v-if="!data.files.length"
                class="task--detail__fileadd"
                size="32px"
                @click="$refs.fileUploader.click()"
              >mdi-plus-box</v-icon>
            </v-layout>
          </v-layout>
          <!-- details: comment -->
          <v-layout
            class="task--detail__section task--detail__comment"
            align-baseline
            column
          >
            <v-flex class="task--detail__title">
              <v-icon small>mdi-comment-processing-outline</v-icon>
              <span>Comment</span>
            </v-flex>
            <v-layout class="task--detail__control">
              <v-textarea
                v-model="data.comment"
                placeholder="Type your memo here..."
                full-width
                counter
              />
            </v-layout>
          </v-layout>
        </div>
        <!-- task control -->
        <v-layout
          class="task--button"
        >
          <v-btn
            class="task--button__close"
            block
            depressed
            @click="cancel()"
          >
            <v-icon>mdi-close</v-icon>
            Cancel
          </v-btn>
          <v-btn
            class="task--button__confirm"
            block
            depressed
            @click="confirm"
          >
            <v-icon>mdi-plus</v-icon>
            {{ host ? 'Add Task' : 'Save' }}
          </v-btn>
        </v-layout>
      </template>
    </v-layout>
  </div>
</template>

<style lang="postcss" src="./TaskItem.postcss"></style>

<script>
import prettyMs from 'pretty-ms'
import { uuid } from '@/helpers'

function getDefaults () {
  return {
    comment: '',
    completed: false,
    date: null,
    files: [],
    starred: false,
    title: null,
    time: null,
    uuid: uuid()
  }
}
export default {
  name: 'TaskItem',
  props: {
    dataId: {
      default: 0,
      type: Number
    },
    host: {
      default: false,
      type: Boolean
    },
    importData: {
      default: () => getDefaults(),
      type: Object
    }
  },
  data: () => ({
    data: getDefaults(),
    datePicker: false,
    editing: false,
    timePicker: false
  }),
  computed: {
    className () {
      return [
        'task',
        this.host && 'host',
        !this.editing && 'inactive',
        this.data.starred && 'starred',
        this.data.completed && 'completed'
      ]
    },
    shortenDate () {
      const [year, month, day] = this.data.date.split('-')
      return `${new Date().getFullYear().toString() !== year ? `${year}/` : ''}${month}/${day}`
    }
  },
  watch: {
    importData (data) {
      this.data = Object.assign({}, this.importData)
    }
  },
  mounted () {
    if (this.importData) {
      this.data = Object.assign({}, this.importData)
    }
  },
  methods: {
    cancel () {
      if (this.importData && typeof this.importData === 'object') {
        this.$set(this, 'data', Object.assign({}, this.importData))
      }
      this.editing = false
    },
    confirm () {
      if (this.host) {
        this.$store.commit('AddTask', this.data)
        this.data = getDefaults()
      } else {
        this.$store.commit('EditTask', this.data)
      }
      this.editing = false
    },
    deleteTask () {
      this.editing = false
      this.$store.commit('DeleteTask', this.data.uuid)
    },
    diffTime (createTime = 0) {
      return prettyMs(+new Date() - createTime, { compact: true, verbose: true })
    },
    directEdit (key) {
      this.data[key] = !this.data[key]
      if (!this.editing) {
        this.$store.commit('EditTask', this.data)
      }
    },
    readFile (event) {
      event.target.files && this.data.files.push({
        filename: event.target.files[0].name,
        createTime: +new Date()
      })
    }
  }
}
</script>
