<template>
  <v-app id="app">
    <Main/>
  </v-app>
</template>

<script>
import Main from '@/components/Main'

export default {
  name: 'App',
  components: {
    Main
  }
}
</script>

<style>
html, body {
  margin: 0;
  padding: 0;
}
#app {
  background-color: #E1E1E1;
}
</style>
